* {
    font-family: 'Titillium Web',black;
    font-size: 18px;
}

p {
    justify-content: center;
    word-wrap: break-word;
}

div.outer-box {
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 25vh;
    margin: 0 2% 0 2%;
    padding: 1%;
}

div.content-box {
    border-radius: 5px;
    border-style: solid;
    border-color: teal;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.counter-rows {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: row;
    padding: 5%;
}

